html
  include partials/head
  
  body 
    h1 Best Music Albums

    
    h2 GET/artists
    h3 Method is GET
    h4 Description
    p  Returns a list of all the musical artists in the catalogue.

    
    h2 GET/artists/{idOrName}
    h3 Method is GET
    h4 Description
    p  Returns the artist associated with the numeric ID or name provided in the route.

    

    h2 GET/genres
    h3 Method is GET
    h4 Description
    p  Returns a list of all the  genres of the albums in the catalogue.


    h2 GET/genres/{idOrName}
    h3 Method is GET
    h4 Description
    p  Returns the genre with all the albums in that genre and those albums artist by the genres Id or genre name provided in the route.


    h2 GET/albums
    h3 Method is GET
    h4 Description
    p  Returns all albums with their artists and genres.

    h2 GET/albums{idOrTitle}
    h3 Method is GET
    h4 Description
    p  Returns all albums titles or Id associated with the artist and albums genre.






    













  
    
    

     